<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body>
 
 <div class="container">
 
 <form method="post" action="/create">

	<div class="row align-items-center">
		<div class="col">
			<input type="hidden" id="room_id" name="room_id" value="">
			<input type="text" id="room_name" name="room_name" placeholder="Room" value="" readonly>
		</div>
		<div class="col">
			<input type="hidden" id="instruct_id" name="instruct_id" value="">
			<input type="text" id="instruct_name" name="instruct_name" placeholder="Instructor" value="" readonly>
		</div>
		<div class="col">
			<input type="hidden" id="course_id" name="course_id" value="">
			<input type="text" id="course_name" name="course_name"  placeholder="Course" value="" readonly>
		</div>
		<div class="col">
			<input type="hidden" id="timeslot_id" name="timeslot_id" value="">
			<input type="text" id="timeslot_name" name="timeslot_name"  placeholder="Time Slot" value="" readonly>
		</div>
		<div class="col"><input type="submit" value="Save"></div>
	</div>
</form>

<div class="row">
<div class="col-sm-3">
  <table class="table table-striped">
  	<thead>
    	<tr>  <th scope="col">Rooms</th>  </tr>
  </thead>
  <tbody>
  {% for room in rooms %}
	<tr>
		<input type="hidden" id="room_{{room[0]}}_input" value="{{ room[1] }}">
		<td>{{ room[1] }}</td>
		<td>
			<a href="#" id="room_{{room[0]}}">+</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
</table>
</div>

<div class="col-sm-3">
  <table class="table table-striped">
  	<thead>
    	<tr>
      <th scope="col">Instructors</th>
    </tr>
  </thead>
  <tbody>
  {% for instructor in instructors %}
	<tr>
		<input type="hidden" id="instruct_{{instructor[0]}}_input" value="{{ instructor[1] }}">
		<td>{{ instructor[1] }}</td>
		<td>
			<a href="#" id="instruct_{{instructor[0]}}">+</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
</table>
</div>
<div class="col-sm-3">
  <table class="table table-striped">
  	<thead>
    	<tr>
      <th scope="col">Courses</th>
    </tr>
  </thead>
  <tbody>
  {% for course in courses %}
	<tr>
		<input type="hidden" id="course_{{course[0]}}_input" value="{{ course[1] }}">
		<td>{{ course[1] }}</td>
		<td>
			<a href="#" id="course_{{course[0]}}">+</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
  </table>
 </div>
 <div class="col-sm-3">
   <table class="table table-striped">
  	<thead>
    	<tr>
      <th scope="col">Time Slots</th>
    </tr>
  </thead>
  <tbody>
  {% for timeslot in timeslots %}
	<tr>
		<input type="hidden" id="timeslot_{{timeslot[0]}}_input" value="{{ timeslot[1] }}">
		<td>{{ timeslot[1] }}</td>
		<td>
			<a href="#" id="timeslot_{{timeslot[0]}}">+</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
	</table>
</div>
</div>

  <table class="table table-striped">
  	<thead>
    	<tr>
      		<th scope="col">Schedule ID </th>
      		<th scope="col">Room </th>
      		<th scope="col">Instructor </th>
      		<th scope="col">Course</th>
      		<th scope="col">Time </th>
    	</tr>
  </thead>
  <tbody>
  {% for schedule in schedules %}
	<tr>
		<td>{{ schedule.id }}</td>
		<td>{{ schedule.room_name }}</td>
		<td>{{ schedule.instruct_name }}</td>
		<td>{{ schedule.course_name }}</td>
		<td>{{ schedule.timeslot_name }}</td>
		
		<td>
			<a href="#">Edit</a>|
			<a href="/delete/{{ schedule.id }}">Delete</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
	</table>



</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
  <script>
  $(document).ready(function(){
	 
	  $('[id^=room_]').click(function(){
		  var id = $(this).attr('id');
		  var idnum = id.split("_")[1];
		  var inputid = id+"_input";
		  $('#room_id').val(idnum);
		  $('#room_name').val( $("#" + inputid).val() );
		  
	    });
	  $('[id^=instruct_]').click(function(){
		  var id = $(this).attr('id');
		  var idnum = id.split("_")[1];
		  var inputid = id+"_input";
		  $('#instruct_id').val(idnum);
		  $('#instruct_name').val( $("#" + inputid).val() );
	    });
	  
	  $('[id^=course_]').click(function(){
		  var id = $(this).attr('id');
		  var idnum = id.split("_")[1];
		  var inputid = id+"_input";
		  $('#course_id').val(idnum);
		  $('#course_name').val( $("#" + inputid).val() );
	    });
	  $('[id^=timeslot_]').click(function(){
		  var id = $(this).attr('id');
		  var idnum = id.split("_")[1];
		  var inputid = id+"_input";
		  $('#timeslot_id').val(idnum);
		  $('#timeslot_name').val( $("#" + inputid).val() );
	    });
	  
  });
  </script>
  
</html>