<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{{ title }}</title>
  </head>
  <body>
 
 <div class="container">
	<div class="row align-items-center">
		<div class="col"><input type="text" id="room_input" placeholder="Room" value="{{room_text}}"></div>
		<div class="col"><input type="text" id="instruct_input" placeholder="Instructor" value="{{instruct_text}}"></div>
		<div class="col"><input type="text" id="course_input"  placeholder="Course" value="{{course_text}}"></div>
		<div class="col"><input type="text" id="timeslot_input"  placeholder="Time Slot" value="{{timeslot_text}}"></div>
		<div class="col"><input type="button" value="Save"></div>
	</div>
	  
<div class="row">
<div class="col-sm-3">
  <table class="table table-striped">
  	<thead>
    	<tr>  <th scope="col">Rooms</th>  </tr>
  </thead>
  <tbody>
  {% for room in rooms %}
	<tr>
		<input type="hidden" id="room_{{room[0]}}_input" value="{{ room[1] }}">
		<td>{{ room[1] }}</td>
		<td>
			<a href="#" id="room_{{room[0]}}">+</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
</table>
</div>

<div class="col-sm-3">
  <table class="table table-striped">
  	<thead>
    	<tr>
      <th scope="col">Instructors</th>
    </tr>
  </thead>
  <tbody>
  {% for instructor in instructors %}
	<tr>
		<input type="hidden" id="instruct_{{instructor[0]}}_input" value="{{ instructor[1] }}">
		<td>{{ instructor[1] }}</td>
		<td>
			<a href="#" id="instruct_{{instructor[0]}}">+</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
</table>
</div>
<div class="col-sm-3">
  <table class="table table-striped">
  	<thead>
    	<tr>
      <th scope="col">Courses</th>
    </tr>
  </thead>
  <tbody>
  {% for course in courses %}
	<tr>
		<td>{{ course[1] }}</td>
		<td>
			<a href='/add/courses/{{course[0]}}'>+</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
  </table>
 </div>
 <div class="col-sm-3">
   <table class="table table-striped">
  	<thead>
    	<tr>
      <th scope="col">Time Slots</th>
    </tr>
  </thead>
  <tbody>
  {% for timeslot in timeslots %}
	<tr>
		<td>{{ timeslot[1] }}</td>
		<td>
			<a href='/add/timeslots/{{timeslot[0]}}'>+</a>
		</td>
	</tr>
  {% endfor %}
  </tbody>
	</table>
</div>
</div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
  <script>
  $(document).ready(function(){
	 
	  $('[id^=room_]').click(function(){
		  var id = $(this).attr('id');
		  var inputid = id+"_input";
		  $('#room_input').val( $("#" + inputid).val() );
	    });
	  $('[id^=instruct_]').click(function(){
		  var id = $(this).attr('id');
		  var inputid = id+"_input";
		  $('#instruct_input').val( $("#" + inputid).val() );
	    });
	  /*
	  $('[id^=room_]').click(function(){
		  var id = $(this).attr('id');
		  var inputid = id+"_input";
		  $('#room_input').val( $("#" + inputid).val() );
	    });
	  $('[id^=room_]').click(function(){
		  var id = $(this).attr('id');
		  var inputid = id+"_input";
		  $('#room_input').val( $("#" + inputid).val() );
	    });
	  */
  });
  </script>
  
</html>